# Python & Virtual Env
__pycache__/
*.pyc
venv/
env/
.env

# Output Directories
entrada/
saida/
saida_*/
packshots/
pragmatic-programming/
*.pdf
*.epub


# IDEs
.vscode/
.idea/

# Local data (optional, keep if you want to share samples, but typically ignored)
# entrada/
